@font-face {
    font-family: roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}

* {
    font-family: roboto, sans-serif; 
}

.wrapper {
    display: grid;
    grid-template: 150px 850px / 200px 800px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    width: 800px;
    height: 150px;
    display: grid;
    grid-template-rows: 50px 100px;
}

.top-bar {
    display: grid; 
    grid-template-columns: 40px 500px 40px 60px 160px;
    align-items: center; 
    padding-left: 24px; 
}

.header svg {
    width: 18px;
    justify-self: center;  
}

#query {
    width: 400px;
    height: 24px; 
    background-color: #e2e8f0;
    border: none;
    border-radius: 10px; 
}

.top-bar img {
    width: 40px; 
    justify-self: center; 
}

.header h2 {
    font-size: 14px; 
    padding-left: 8px; 
}

.btm-bar {
    display: grid;
    grid-template-columns: 80px 390px 110px 110px 110px;
    align-items: center; 
    padding-left: 24px; 
}

.btm-bar img {
    width: 72px; 
    justify-self: center; 
}

.btm-bar p {
    color: black; 
    font-size: 12px; 
    font-weight: 700;
    margin: 0;
    padding-left: 0;
}

.btm-bar h1 {
    font-size: 24px;
    margin: 0;
}

.btm-bar button {
    width: 80px; 
    height: 32px;
    background-color: #0284c7;
    color: white; 
    border: none;
    border-radius: 20px; 
    justify-self: space-around;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    width: 200px; 
    height: 1000px;
    background-color: #0284c7;
    display: grid;
    grid-template-rows: repeat(12, 35px);
    grid-template-columns: 40px 160px;
    justify-content: center; 
    align-items: center; 
}

.sidebar svg {
    width: 18px; 
    fill: white;
    padding-left: 16px; 
    padding-top: 60px; 
}

#dashboard-svg {
    width: 30px; 
    padding-left: 12px;
    padding-top: 12px; 
}

.sidebar h1, p {
    color: white;
    padding-left: 6px; 
}

.sidebar h1 {
    font-size: 20px;
    font-weight: 500; 
    padding-top: 14px; 
}

.sidebar p {
    font-size: 15px;
    padding-top: 60px; 
}

.sidebar .btm {
    padding-top: 120px; 
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    width: 800px;
    height: 850px;
    background-color: #e2e8f0;
}
